!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "slideshow/styles.css", :rel => "stylesheet"}/
    %title Example Slideshow
    :css
      #deck h1 { font-family: 'Skia', Arial; font-size:50px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
      #deck h2 { font-family: 'Skia', Arial; font-size: 30px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
    
  %body
    %header
      %h1 Example Slide Show
      %nav
        %ul
          %li
            %button#prev-btn{:title => "Previous slide"} Previous Slide
          %li
            %span#slide-number>
            \/
            %span#slide-total
          %li
            %button#next-btn{:title => "Next Slide"} Next Slide

    #deck
      / Begin slides
      %section
        %h1 Hello, interwebs explorer.
        %h2 How to use this thing
        %p Press the right arrow, down arrow, or spacebar to advance; press the left arrow or up arrow to move backward.
        %p You can also click the left and right arrows in the control bar at the top.
      %section
        %hgroup
          %h1 Intraslide animation
          %h2 I'm calling these "actions"
        %p You can hide/reveal content within the slides by giving something a class of "action". Actions are revealed in the order in which they occur in the HTML. Advancing to the next slide will first reveal actions on the page if they exist.
        %pre
          :preserve
          
            &lt;p class=&quot;action&quot;&gt;This will be hidden when the slide loads&lt;/p&gt;
        %ul
          %li.action Bullet point
          %li.action Another bullet point
          %li.action Yet another bullet point
          %li.action You get the idea
      %section

        %h1 Custom events
        %h2 These may or may not be useful for you

        %p When a new slide is loaded, a "newSlide" event is fired. (Take a look at your console.)
        %p There's also an event triggered when a new "action" is revealed.
        %pre
          :preserve
          
            //Example usage
            $(&#x27;html&#x27;).bind(&#x27;newSlide&#x27;, function(e,id) { console.log(id) });

      %section
        %hgroup
          %h1 Building slides
          %h2 It's easy

    %script{:src => "slideshow/jquery-1.5.2.min.js"}
    %script{:src => "slideshow/jquery.jswipe-0.1.2.js"}
    %script{:src => "slideshow/htmlSlides.js"}
    :javascript
      //Do our business when the DOM is ready for us
      $(function() {

        //You can trigger Javascript based on the slide number like this:
        $('html').bind('newSlide', function(e, id) {
          switch(id) {
            case 2:
              console.log('This is the second slide.');;
              break;
            case 3:
              console.log('Hello, third slide.');
              break;
          }
        });

        //One little option: hideToolbar (boolean; default = false)
        htmlSlides.init({ hideToolbar: true });

      });
  