!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => href("normalize.css"), :rel => "stylesheet"}/
    %link{:href => href("styles.css"), :rel => "stylesheet"}/
    %title= page.title
    ~ content_for[:head]
    
  %body

    %header
      %h1= page.title
      %nav
        %ul
          %li
            %button#prev-btn{:title => "Previous slide"} Previous Slide
          %li
            %span#slide-number>
            \/
            %span#slide-total
          %li
            %button#next-btn{:title => "Next Slide"} Next Slide

    %article.slideshow

      ~ yield
      
    %script{:src => href("jquery-1.5.2.min.js")}
    %script{:src => href("htmlSlides.js")}
    :javascript

      //Do our business when the DOM is ready for us
      $(function() {

        // One little option: hideToolbar (boolean; default = false)
        htmlSlides.init({ hideToolbar: true });

      });
  